<div class="overflow-hidden min-h-screen">
  <p-sidebar-layout class="flex-1">
    @if (isMobile() && open()) {
      <p-sidebar-backdrop class="absolute!" />
    }
    <p-sidebar
      id="layout"
      [collapsible]="isMobile() ? 'offcanvas' : 'icon'"
      [overlay]="isMobile()"
      [(open)]="open"
    >
      <p-sidebar-spacer />
      <p-sidebar-aside>
        <p-sidebar-panel>
          <p-sidebar-header>
            <p-sidebar-menu>
              <p-sidebar-menu-item>
                <button class="inline-flex items-center gap-4">
                  <div
                    class="flex size-6 shrink-0 items-center justify-center rounded-md bg-linear-to-br from-violet-500 to-indigo-600 text-white text-xs font-bold leading-none"
                  >
                    B
                  </div>
                  <span class="font-semibold text-sm">BankDataHub</span>
                </button>
              </p-sidebar-menu-item>
            </p-sidebar-menu>
          </p-sidebar-header>
          <p-sidebar-content>
            <app-sidebar />
          </p-sidebar-content>
          @if (user(); as currentUser) {
            <p-sidebar-footer>
              <p-sidebar-menu>
                <p-sidebar-menu-item>
                  <button pSidebarMenuButton class="p-1!" (click)="userMenu.toggle($event)">
                    <app-user-avatar />
                    <span>{{ currentUser?.displayName || currentUser?.email }}</span>
                    <svg pIcon="chevron-down" class="ml-auto"></svg>
                  </button>
                  <p-menu #userMenu [model]="userItems()" [popup]="true" appendTo="body" />
                </p-sidebar-menu-item>
              </p-sidebar-menu>
            </p-sidebar-footer>
          }
          <button pSidebarRail></button>
        </p-sidebar-panel>
      </p-sidebar-aside>
    </p-sidebar>
    <p-sidebar-main>
      <div class="flex px-4">
        <button
          pButton
          pSidebarTrigger
          target="layout"
          severity="secondary"
          text
          size="small"
          class="my-3"
        >
          <svg pIcon="sidebar"></svg>
        </button>
      </div>
      <div class="flex-1 p-4 flex flex-col gap-4">
        <router-outlet />
      </div>
    </p-sidebar-main>
  </p-sidebar-layout>
</div>
